<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "Entrar", class: "btn btn-primary" %>
    <% end %>
    <p>Registrar?<%= link_to signup_path %></p>
  </div>
</div>