<p id="notice"><%= notice %></p>

<h1>Lista de Relatorios</h1>

<table>
  <thead>
    <tr>
      <th>Quantidade</th>
      <th>Produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relatorios.each do |relatorio| %>
      <tr>
        <td><%= relatorio.content %></td>
        <td><%= relatorio.produto_id %></td>
        <td><%= link_to 'Detalhes', relatorio %></td>
        <td><%= link_to 'Editar', edit_relatorio_path(relatorio) %></td>
        <td><%= link_to 'Remover', relatorio, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


