<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @relatorio.content %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @relatorio.produto_id %>
</p>

<%= link_to 'Editar', edit_relatorio_path(@relatorio) %> |
<%= link_to 'Voltar', relatorios_path %>
