<% provide(:title, 'Cadastre-se') %>
<h1>Cadastro</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmação" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <center>
        <%= f.submit "Criar Conta", class: "btn btn-primary" %>
      </center>
    <% end %>
  </div>
</div>