<div class="center jumbotron">
  <h3>Sistema de Controle de Estoque e Funcionarios</h3>
  <img src="/assets/images/logo.jpg">
  <% if !logged_in? %>
    <%= link_to "Cadastre-se", signup_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    Seja bem vindo, <%= current_user.name %>
  <% end %>
  
</div>

