<p id="notice"><%= notice %></p>

<h1>Lista de Funcionarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Email</th>
      <th>Data</th>
      <th>Idade</th>
      <th>Salario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.name %></td>
        <td><%= funcionario.sexo %></td>
        <td><%= funcionario.email %></td>
        <td><%= funcionario.data %></td>
        <td><%= funcionario.idade %></td>
        <td><%= funcionario.salario %></td>
        <td><%= link_to 'Detalhes', funcionario %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario) %></td>
        <td><%= link_to 'Remover', funcionario, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

